@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

:root {
  --tan: #fde9ba;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: var(--tan);
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
}

#countdown-display {
  font-size: 70px;
}
